ul {
  list-style-type: none;
  margin: 0;
  padding 0;
  background-color: #dddddd;
}

li {
  display: inline;
  float: left;
}

li.a {
  display: block;
  padding: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, tr, th, td {
  border: 1px solid black;
}

td {
  width: 50%;
}
